.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color:  #ce8651;
}

.navbar a {
  text-decoration: underline;
  font-size: large;
  color: white;
  margin: 0 10px;
}

.navbar button {
  padding: 5px 15px;
  margin: 5px;
  cursor: pointer;
}

.successMessage, .errorMessage {
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
}

 .successMessage {
  background-color: #dff0d8;
  color: #3c763d;
}

.errorMessage {
  background-color: #f2dede;
  color: #a94442;
}

.navbar form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 10px 0;
}

.navbar label {
  margin-bottom: 10px;
}

.auth-buttons{
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  background-color: #2a4150;
}

.auth-buttons button:not(:last-child) { /* cool way to add margin to only one of the buttons */
  margin-right: 10px; 
}

.home-page {
  background-image: url("../public/images/bike-event-homepage-pic.jpeg");
  background-size: cover;                           
  background-repeat: no-repeat;                     
  background-position: center center;               
  background-attachment: fixed;                     
  color: #fff;                                      
  min-height: 100vh;                                
  padding: 20px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;                                   
}

.slogan {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  max-width: 80%; 
  text-indent: -2em; 
  padding-left: 2em; 
  margin-top: -30vw; 
}

.events-button {
  padding: 10px 20px;
  border: none;
  background-color: #6e929f;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-top: 20px; 
  transition: background-color 0.3s;
  &:hover {                 /* &: allows for hover effect */
    background-color: #2a4150;; 
  }
}

.create-event-button{
  padding: 10px 20px;
  border: none;
  background-color: #ce8651;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-top: 20px; 
  transition: background-color 0.3s;
  &:hover {                 /* &: allows for hover effect */
    background-color: #6e3c30; 
  }
}

.logo-left, .logo-right {
  width: 30px; 
  height: 48px;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-left {
  background-image: url("../public/images/bike-event-logo.png"); 
  margin-right: auto;
}

.logo-right {
  background-image: url("../public/images/bike-event-logo.png"); 
  margin-left: auto; 
 
}

.events-page {
  background-color: #e1e6eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.events-page h1 {
  color: #3f3e40;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.events-container {
  background-color: #d7d8d9;
  padding: 20px;
  border-radius: 5px;
  color: #2f2e2f;
  width: 80%;
}

.events-page button {
  background-color: #585859;
  color: #f9fafa;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.events-page button:hover {
  background-color: #3f3e40; 
}

.event-details-page {
  background-color: #e1e6eb;
  min-height: 100vh;
  padding: 20px;
}

.events
.instructions {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.instructions-content {
  display: none;
  position: absolute;
  width: 250px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1;
}

.instructions:hover .instructions-content {
  display: block;
}