.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color:  #ce8651;
}

.navbar a {
  text-decoration: underline;
  font-size: large;
  color: white;
  margin: 0 10px;
}

.navbar button {
  padding: 5px 15px;
  margin: 5px;
  cursor: pointer;
}

.successMessage, .errorMessage {
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
}

 .successMessage {
  background-color: #dff0d8;
  color: #3c763d;
}

.errorMessage {
  background-color: #f2dede;
  color: #a94442;
}

.navbar form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 10px 0;
}

.navbar label {
  margin-bottom: 10px;
}

.auth-buttons{
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  background-color: #2a4150;
}

.auth-buttons button:not(:last-child) { /* cool way to add margin to only one of the buttons */
  margin-right: 10px; 
}

.logout-button {
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  background-color: #2a4150;
  color: #ffffff; 
}

.home-page {
  background-image: url("../public/images/bike-event-homepage-pic.jpeg");
  background-size: cover;                           
  background-repeat: no-repeat;                     
  background-position: center center;               
  background-attachment: fixed;                     
  color: #fff;                                      
  min-height: 100vh;                                
  padding: 20px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;                                   
}

.slogan {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  max-width: 80%; 
  text-indent: -2em; 
  padding-left: 2em; 
  margin-top: -30vw; 
}

.events-button {
  padding: 10px 20px;
  border: none;
  background-color: #6e929f;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-top: 20px; 
  transition: background-color 0.3s;
  &:hover {                 /* &: allows for hover effect */
    background-color: #2a4150;; 
  }
}

.create-event-button{
  padding: 10px 20px;
  border: none;
  background-color: #ce8651;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-top: 20px; 
  transition: background-color 0.3s;
  &:hover {                 /* &: allows for hover effect */
    background-color: #6e3c30; 
  }
}

.logo-left, .logo-right {
  width: 30px; 
  height: 48px;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-left {
  background-image: url("../public/images/bike-event-logo.png"); 
  margin-right: auto;
}

.logo-right {
  background-image: url("../public/images/bike-event-logo.png"); 
  margin-left: auto; 
 
}

.events-page {
  background-color: #e1e6eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.events-page h1 {
  color: #3f3e40;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.events-container {
  background-color: #d7d8d9;
  padding: 20px;
  border-radius: 5px;
  color: #2f2e2f;
  width: 80%;
}

.events-page button {
  background-color: #585859;
  color: #f9fafa;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.events-page button:hover {
  background-color: #3f3e40; 
}

.event-details-page {
  background-color: #e1e6eb;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-details-page h1 {
  color: #3f3e40;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.event-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.event-description, .event-level, .event-type, .created-by {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.event-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.event-actions a, .event-actions button {
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.event-actions a {
  background-color: #585859;
}

.event-actions a:hover {
  background-color: #3f3e40;
}

.event-actions button {
  background-color: #ce8651;
  border: none;
  cursor: pointer;
}

.event-actions button:hover {
  background-color: #6e3c30;
}

.create-event-page {
  background-color: #e1e6eb;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-event-page h1 {
  color: #3f3e40;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

form {
  background-color: #d7d8d9;
  padding: 20px;
  border-radius: 5px;
  color: #2f2e2f;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

form label {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}

form input[type="text"] {
  padding: 10px;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 5px;
}

form label > label {
  font-size: 0.9rem;
  margin-top: 5px;
}

form input[type="radio"] {
  margin-right: 5px;
}

form button {
  background-color: #ce8651;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

form button:hover {
  background-color: #6e3c30;
}

.chooseLocation-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chooseLocation-input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.chooseLocation-input:focus {
  border-color: #007aff;
}

.chooseLocation-list {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

.chooseLocation-item {
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chooseLocation-item:hover {
  background-color: #f5f5f5;
}

.chooseLocation-button:hover {
  background-color: #005bd2;
}

.chooseLocation-button:disabled {
  background-color: #b0c5d8;
  cursor: not-allowed;
}

.events
.instructions {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.instructions-content {
  display: none;
  position: absolute;
  width: 250px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1;
}

.instructions:hover .instructions-content {
  display: block;
}

.edit-event-container {
  background-color: #e1e6eb; 
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-event-form {
  background-color: #d7d8d9; 
  padding: 20px;
  border-radius: 5px;
  color: #2f2e2f;
  width: 80%; 
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.edit-event-form label {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}

.edit-event-form input[type="text"] {
  padding: 10px;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 5px;
}

.edit-event-form label > label {
  font-size: 0.9rem;
  margin-top: 5px;
}

.edit-event-form input[type="radio"] {
  margin-right: 5px;
}

.edit-event-form button {
  background-color: #ce8651; 
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.edit-event-form button:hover {
  background-color: #6e3c30; 
}

.edit-location-container {
  background-color: #e1e6eb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 30px;
}

.edit-location-form {
  background-color: #d7d8d9;
  padding: 20px;
  border-radius: 5px;
  color: #2f2e2f;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.edit-location-form h1 {
  color: #3f3e40;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.edit-location-form input[type="text"],
.edit-location-form input[type="number"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ebebeb;
  font-size: 1rem;
  color: #3f3e40;
}

.edit-location-form button {
  padding: 10px 20px;
  border: none;
  background-color: #ce8651;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.edit-location-form button:hover {
  background-color: #6e3c30; 
}